body {
    position: relative;
    margin: 0;
    background-color: #333;
    color: #ebebeb;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    position: sticky;
    top: 0;
    padding: 1em;
    height: auto;
    background-color: #283959;
    background-image: linear-gradient(to bottom, #283959, #333);
    display: grid;
    grid-template-rows: 6em;
    grid-template-columns: 85% 15%;
    align-items: center;
    z-index: 1000;
}

a {
    color: #ebebeb;
    text-decoration: none;
}

#logo {
    grid-row: 1;
    grid-column: 1 / span 1;
    width: 10em;
    height: auto;
}

#menu-icon {
    color: #ebebeb;
    font-size: 3em;
    grid-row: 1;
    grid-column: 2 / span 1;
    justify-self: start;
}

#menu-icon:hover {
    transition: all 180ms ease-out;
    background-color: #374f7b;
}

#menu-toggle {
    display: none;
}

#menu-toggle:checked~#menu-list {
    display: block;
}

#menu-list {
    padding: 0;
    text-align: center;
    grid-row: 2;
    grid-column: 1 / span 2;
    display: none;
    list-style-type: none;
    font-size: 1.2em;
    background-color: #5163aa;
}

#menu-list li {
    padding: 0.4em;
}

#menu-list li:hover {
    transition: all 180ms ease-out;
    background-color: #5a76af;
}

.grid-container-layout {
    padding: 0.5em;
}

.main {
    padding: 0 0.5em
}


h2 {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 10px;
}

h5 {
    font-size: 1.7em;
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.linnea img {
    width: 30%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
}

.linnea img:hover {
    transform: scale(1.2);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
}

.skills-section {
    display: flex;
    align-items: flex-start;
    gap: 40px;
    padding: 40px;
    max-width: 1000px;
    margin: auto;
    flex-wrap: wrap;
}

.skills-image img {
    max-width: 300px;
    width: 100%;
    border-radius: 8px;
    object-fit: cover;
}

.skills-image img:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
}

.skills-bars {
    flex: 1;
    min-width: 250px;
}

.skills-bars:hover {
    transform: scale(1.02);
    transition: transform 0.3s, box-shadow 0.3s;
}

.skillbar {
    margin-bottom: 20px;
}

.skillbar h4 {
    margin-bottom: 5px;
}

.bar-container {
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 4px;
    overflow: hidden;
    height: 20px;
    margin-bottom: 20px;
}

.bar {
    height: 100%;
    width: 0%;
    background-color: rgb(100, 101, 101);
    border-radius: 4px;
    position: relative;
    transition: width 3s ease-out;
    color: white;
    font-weight: bold;
    text-align: right;
    padding-right: 10px;
}

.percent-text {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    pointer-events: none;
}

.aboutLinnea p {
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 2em;
    margin-left: 3em;
    margin-right: 3em;
}

.slideshow-wrapper {
    display: flex;
    position: relative;
    width: 100%;
    justify-content: center;
    padding: 1px;
    box-sizing: border-box;
    overflow: hidden;
}

.slideshow-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    position: relative;
    width: 40%;
    aspect-ratio: 4 / 3;
    box-sizing: border-box;
}

.slideshow-container img {
    position: absolute;
    display: block;
    top: 0;
    left: 10%;
    width: 80%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s;
    z-index: 1;
}

button.prev,
button.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
    background-color: #283959;
    color: white;
    border: none;
    padding: 12px 16px;
    font-size: 24px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button.prev {
    left: 0;
}

button.next {
    right: 0;
}

button.prev:hover,
button.next:hover {
    background-color: #394f78;
}

#slideshow-image {
    transition: transform 0.5s ease, opacity 0.5s ease;
    position: relative;
    z-index: 1;
}

@keyframes slideInFromLeft {
    from {
        transform: translateX(-100vw);
        opacity: 0.5;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideOutToRight {
    from {
        transform: translateX(0);
        opacity: 1;
    }

    to {
        transform: translateX(100vw);
        opacity: 0;
    }
}

@keyframes slideInFromRight {
    from {
        transform: translateX(100vw);
        opacity: 0.5;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideOutToLeft {
    from {
        transform: translateX(0);
        opacity: 1;
    }

    to {
        transform: translateX(-100vw);
        opacity: 0;
    }
}

.slideshow-container img.active {
    position: absolute;
    z-index: 2;
    animation-fill-mode: forwards;
}

.slide-in-left {
    animation: slideInFromLeft 0.5s ease forwards;
    box-shadow: 20px 0 30px rgba(0, 0, 0, 0.3);
}

.slide-out-right {
    animation: slideOutToRight 0.5s ease forwards;
    box-shadow: -20px 0 30px rgba(0, 0, 0, 0.3);
}

.slide-in-right {
    animation: slideInFromRight 0.5s ease forwards;
    box-shadow: -20px 0 30px rgba(0, 0, 0, 0.3);
}

.slide-out-left {
    animation: slideOutToLeft 0.5s ease forwards;
    box-shadow: 20px 0 30px rgba(0, 0, 0, 0.3);
}

.projekt-lista {
    display: grid;
    gap: 24px;
    grid-template-columns: 1fr;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
}

.filter-wrapper {
    max-width: 1000px;
    margin: 0 auto 20px auto;
    padding: 0 20px;
    text-align: center;
}

.filter-dropdown {
    max-width: 900px;
    width: 100%;
    padding: 10px;
    margin: 0 auto 0 auto;
}

.filter-dropdown select,
.filter-input {
    width: auto;
    min-width: 180px;
    padding: 0.5em 1em;
    font-size: 1em;
    border: none;
    border-radius: 0.5em;
    background-color: #495F8C;
    color: #ffffff;
    cursor: pointer;
    box-sizing: border-box;
    text-align: center;
    transition: background-color 0.2s ease;
}

.filter-dropdown select:hover,
.filter-input:hover {
    background-color: #3b4f7a;
}

.filter-input {
    width: 80%;
    max-width: 400px;
}

.filter-fritext {
    max-width: 900px;
    margin: 0 auto 20px auto;
    padding: 0 20px;
    text-align: center;
}

.sortering {
    justify-content: center;
    margin-top: 2em;
    display: flex;
    gap: 0.7em;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}

.sortering label {
    font-weight: bold;
    margin-right: 0.5em;
    color: #ebebeb;
}

.sortering button,
.rensa-filter-knapp {
    background-color: #495F8C;
    color: #ffffff;
    border: none;
    border-radius: 0.5em;
    padding: 0.4em 1em;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.rensa-filter-knapp {
    margin: 2em;
}

.sortering button:hover,
.rensa-filter-knapp:hover {
    background-color: #3b4f7a;
}

.sortering button span {
    margin-left: 0.4em;
    font-weight: bold;
}

.rensa-filter-knapp:hover {
    background-color: #3b4f7a;
}

.projekt-card {
    width: 70%;
    display: block;
    margin: 0 auto;
    background-color: #283959;
    background-image: radial-gradient(#283959, #394157, #333);
    border-radius: 1em;
    box-shadow: 0 0 0.9em #222;
    padding: 1em;
    margin-bottom: 1em;
    color: white;
    text-align: center;
}

.projekt-card img {
    width: 100%;
    height: auto;
    border-radius: 0.5em;
    box-shadow: 0 0 0.5em #333;
    transition: transform 0.3s, box-shadow 0.3s;
}

.projekt-card img:hover {
    box-shadow: 0 0 1.2em #555;
    transform: scale(1.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.footer {
    line-height: 1.1em;
    padding: 0 1em 0.8em 1em;
    margin-top: 2em;
    background-image: linear-gradient(to top, #283959, #333);
    display: block;
}

.foot-uppgifter {
    display: block;
}

.footer .fa {
    font-size: 1.5em;
    padding-right: 1em;
}

@media only screen and (min-width: 800px) {
    .main {
        padding: 0 15%;
    }

    header {
        padding: 0em;
        display: block;
        text-align: center;
        grid-template-columns: 1fr;
    }

    #logo {
        width: 12em;
        margin: 1em 0;
        grid-column: 1 / span 2;
    }

    #menu-icon {
        display: none;
    }

    #menu-list {
        margin: 1em 0;
        display: block;
        width: 100%;
        grid-row: 2;
        background-image: linear-gradient(to right, #333333e1, #28395971, #28395986, #333333e1);
    }

    #menu-list li {
        display: inline;
        margin: 0 0.5em;
        background-color: #5163aa;
        border-radius: 0.5em;
    }

    .projekt-lista {
        grid-template-columns: 1fr 1fr;
    }

    .filter-dropdown select {
        font-size: 14px;
        padding: 8px;
        margin: 0 20px 0 20px;
    }

    .slideshow-container {
        flex-direction: row;
        gap: 20px;
    }

    button.prev,
    button.next {
        font-size: 20px;
        padding: 10px 14px;
    }

    .footer {
        padding: 0 15%;
        display: grid;
        grid-template-columns: 1fr, 1fr;
    }

    .foot-uppgifter {
        grid-column: 1;
    }

    .socials {
        grid-column: 2;
    }

    .soc-icons {
        display: flex;
        flex-direction: row;
    }

    .socials a,
    #rbr-h4 {
        display: block;
    }

    .anst-grid-it {
        width: 22%;
    }

    .soc-rbr-container {
        text-align: center;
    }
}