<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RM Projekt</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="rostyk.css">
    <script src="https://kit.fontawesome.com/e885e5dc40.js" crossorigin="anonymous"></script>
    <script defer src="https://unpkg.com/vue@3/dist/vue.global.js"> </script>
    <script defer src="rostyk.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
    <header>
        <a href="index.html"><img id="logo" src="NAD_white_transparent.png" alt="NAD"></a>
        <input id="menu-toggle" type="checkbox">
        <label for="menu-toggle" id="menu-icon">&#9776;</label>
        <ul id="menu-list">
            <li><a href="index.html#infoAboutCompany">Start sidan NAD</a></li>
            <li><a href="index.html#infoOmAnställda">Anställda på NAD</a></li>
            <li><a href="kontakt.html">Kontakta NAD</a></li>
        </ul>
        <div class="underHeader">
            <div class="uH i1">
                <a href="rostyk.html#omMig">Min roll</a>
            </div>
            <div class="uH i2">
                <a href="rostyk.html#kompetenser">Kompetenser</a>
            </div>
            <div class="uH i3">
                <a href="rostyk.html#minaProjekt">Mina projekt</a>
            </div>
        </div>

    </header>
    <main>
        <div id="proj" class="baraBilder">
            <p class="titel">{{valdProjekt.titel}}</p>

            <!-- v-if="villkor" om true kör koden, om false körs inte -->
            <div v-if="valdProjekt" class="aktivBild ">
                <div class="scroll-area">
                    <div class="knappBakåt" v-on:click="prevPic">
                        <i class="fa-solid fa-arrow-left"></i>
                    </div>

                    <div class="knappFramåt" @click="nextPic">
                        <i class="fa-solid fa-arrow-right"></i>
                    </div>

                    <img id="bild" v-bind:src="'rostyksBilder/' + activePic" class="storBild" alt="storBild" @click="toggleScale">
                </div>
            </div>

            <div class="bildGalleri ">
                <!-- key-unik identitet för element i loopen,
                 utan: risk för fel bild/text om listan ändras -->
                <img v-for="(bild, index) in valdProjekt.bilder" :key="bild" :src="'rostyksBilder/' + bild"
                    class="miniBild" @click="choosePic(index)" :alt="bild">
                <!-- @click lyssnar på händelse, då sätts activePic till
                 just den bilden man klickat -->
            </div>
            <div class="allText">
                <p class="kund"><b>Kund: </b>{{valdProjekt.kund}}</p>
                <p class="rbr">Fokus område:</p>
                <p class="beskrivning">{{valdProjekt.beskrivning}}</p>
                <p class="rbr">Mina uppgifter som chefsarkitekt:</p>
                <p class="roll">{{valdProjekt.roll}}</p>
                <p class="rbr">Övrigt information:</p>
                <p class="övrigt">{{valdProjekt.övrigt}}</p>
            </div>

            <h1 id="minaProjekt">Relaterade Projekt</h1>
            <div class="relateradeProjekt">

                <div v-for="projekt in relateradeProjekt" class="ettProjekt">
                    <!-- <div v-for="bild in projekt.bilder" class="ettProjektBild">
                        <img v-bind:src='"rostyksBilder/"+bild' alt="förstaBild">
                    </div> -->
                    <div class="ettProjektBild" @click.prevent="väljProjekt(projekt.id)">
                        <img v-bind:src='"rostyksBilder/"+projekt.huvudBild' class="projektBilder" alt="förstaBild">
                    </div>
                    <div class="ettProjektText">
                        <p>{{projekt.titel}}</p>
                        <p>{{projekt.kund}}</p>
                    </div>
                </div>

            </div>
        </div>

    </main>
    <div class="grid-item footer">
        <div class="foot-uppgifter">
            <h3> NAD - Nordic Architecture and Design</h3>
            <p><b>Telefon: </b>+46 70-812 34 56</p>
            <p><b>Email: </b><a href="mailto:nordicarchitectdesign@nad.com">nordicarchitectdesign@nad.com</a></p>
            <p><b>Adress: </b><a href="https://maps.app.goo.gl/VQrfW8VuTFQPxR6m7" target="_blank">Yrvädersgatan 3, 70228
                    Örebro</a></p>
        </div>
        <div class="socials">
            <h4 id="rbr-h4">Hitta oss på sociala medier</h4>
            <div class="soc-icons">
                <a href="https://www.instagram.com/"><i class="fa fa-instagram"></i></a>
                <a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
                <a href="https://se.pinterest.com/"><i class="fa fa-pinterest"></i></a>
                <a href="https://www.youtube.com/"><i class="fa fa-youtube"></i></a>
                <a href="https://se.linkedin.com/"><i class="fa fa-linkedin"></i></a>
            </div>
        </div>
    </div>
</body>

</html>