<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NAD-Rostyslav Malanchuk</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="rostyk.css">
    <script src="https://kit.fontawesome.com/e885e5dc40.js" crossorigin="anonymous"></script>
    <script defer src="https://unpkg.com/vue@3/dist/vue.global.js"> </script>
    <script defer src="rostyk.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
    <header>
        <a href="index.html"><img id="logo" src="NAD_white_transparent.png" alt="NAD"></a>
        <input id="menu-toggle" type="checkbox">
        <label for="menu-toggle" id="menu-icon">&#9776;</label>
        <ul id="menu-list">
            <li><a href="index.html#infoAboutCompany">Start sidan NAD</a></li>
            <li><a href="index.html#infoOmAnställda">Anställda på NAD</a></li>
            <li><a href="kontakt.html">Kontakta NAD</a></li>
        </ul>
        <div class="underHeader">
            <div class="uH i1">
                <a href="#omMig">Min roll</a>
            </div>
            <div class="uH i2">
                <a href="#kompetenser">Kompetenser</a>
            </div>
            <div class="uH i3">
                <a href="#minaProjekt">Mina projekt</a>
            </div>
        </div>

    </header>
    <main>

        <div class="rubrik">
            <h1 class="rubrik-item1">Rostyslav Malanchuk</h1>
            <p class="rubrik-item2">Chefsarkitekt - på Nordic Architect Design</p>
        </div>

        <div class="omMig" id="omMig">
            <div class="huvudBild"></div>
            <div class="minRoll">
                <p>Som <strong>Chefsarkitekt</strong> på <em>Nordic Architect Design</em> leder jag det kreativa arbetet
                    och driver byråns vision om
                    att skapa arkitektur som förenar funktion, estetik och hållbarhet. Med många års erfarenhet av både
                    bostadsprojekt, kontorsmiljöer, skolor och offentliga rum, har jag utvecklat en förmåga att se
                    helheten
                    – från första skiss till färdig byggnad.<br><br>
                    Min roll innebär att jag ansvarar för de övergripande gestaltningsprinciperna, kvalitetssäkrar
                    designbeslut och leder våra team av arkitekter och specialister. Jag arbetar nära kunderna för att
                    tolka
                    deras behov och omvandla dem till arkitektoniska lösningar som både inspirerar och fungerar i
                    vardagen.<br><br>
                    Jag brinner särskilt för projekt där hållbarhet, innovation och mänskliga möten står i centrum –
                    oavsett
                    om det handlar om en stadspark, ett vårdcentrum eller en bostadsbyggnad.<br><br> För mig är
                    arkitektur inte bara
                    byggnader, utan miljöer som formar hur vi lever, arbetar och samspelar.
                    På <em>Nordic Architect Design</em> ser jag det som min uppgift att driva utvecklingen framåt,
                    stärka företagets
                    arkitektoniska identitet och säkerställa att varje projekt lämnar ett bestående värde – både för
                    våra
                    kunder och för samhället.</p>
            </div>
        </div>

        <div class="kompetenser" id="kompetenser">
            <h1>Mina kompetenser</h1>
            <div class="skill-bars">
                <div class="skill skill-1">
                    <h3>Strategisk helhetssyn och arkitekturstyrning</h3>
                    <div class="skillbar-backg">
                        <div class="skillbar-fil fil1">
                            <p>85%</p>
                        </div>
                    </div>
                </div>
                <div class="skill skill-2">
                    <h3>Teknisk kompetens och systemförståelse</h3>
                    <div class="skillbar-backg">
                        <div class="skillbar-fil fil2">
                            <p>95%</p>
                        </div>
                    </div>
                </div>
                <div class="skill skill-3">
                    <h3>Ledarskap och kommunikation</h3>
                    <div class="skillbar-backg">
                        <div class="skillbar-fil fil3">
                            <p>79%</p>
                        </div>
                    </div>
                </div>
                <div class="skill skill-4">
                    <h3>Förändringsledning och governance</h3>
                    <div class="skillbar-backg">
                        <div class="skillbar-fil fil4">
                            <p>60%</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="proj" class="projektGalleri">
            <div class="sortering">
                <!-- lista med filtrerade projekt -->
                <h1 id="minaProjekt">Mina projekt</h1>

                <label class="labelText" for="filter">Sortera efter:</label>
                <select class="labelText" v-model="filter" id="filter">
                    <option value="">Visa alla projekt</option>
                    <option value="skola">Visa läromiljöer</option>
                    <option value="bostäder">Visa bostäder</option>
                    <option value="kontor">Visa kontor</option>
                    <option value="trädgård">Visa trädgård</option>
                </select>
            </div>
            <div v-for="projekt in filtreradeProjekt" class="ettProjekt">
                <!-- <div v-for="bild in projekt.bilder" class="ettProjektBild">
                        <img v-bind:src='"rostyksBilder/"+bild' alt="förstaBild">
                    </div> -->
                <div class="ettProjektBild" @click.prevent="väljProjekt(projekt.id)">
                    <img v-bind:src='"rostyksBilder/"+projekt.huvudBild' class="projektBilder" alt="förstaBild">
                </div>
                <div class="ettProjektText">
                    <p>{{projekt.titel}}</p>
                    <p>{{projekt.kund}}</p>
                </div>
            </div>

        </div>

    </main>
    <div class="grid-item footer">
        <div class="foot-uppgifter">
            <h3> NAD - Nordic Architecture and Design</h3>
            <p><b>Telefon: </b>+46 70-812 34 56</p>
            <p><b>Email: </b><a href="mailto:nordicarchitectdesign@nad.com">nordicarchitectdesign@nad.com</a></p>
            <p><b>Adress: </b><a href="https://maps.app.goo.gl/VQrfW8VuTFQPxR6m7" target="_blank">Yrvädersgatan 3, 70228 Örebro</a></p>
        </div>
        <div class="socials">
            <h4 id="rbr-h4">Hitta oss på sociala medier</h4>
            <div class="soc-icons">
                <a href="https://www.instagram.com/"><i class="fa fa-instagram"></i></a>
                <a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
                <a href="https://se.pinterest.com/"><i class="fa fa-pinterest"></i></a>
                <a href="https://www.youtube.com/"><i class="fa fa-youtube"></i></a>
                <a href="https://se.linkedin.com/"><i class="fa fa-linkedin"></i></a>
            </div>
        </div>
    </div>
<!-- Code injected by live-server -->
<script>
	// <![CDATA[  <-- For SVG support
	if ('WebSocket' in window) {
		(function () {
			function refreshCSS() {
				var sheets = [].slice.call(document.getElementsByTagName("link"));
				var head = document.getElementsByTagName("head")[0];
				for (var i = 0; i < sheets.length; ++i) {
					var elem = sheets[i];
					var parent = elem.parentElement || head;
					parent.removeChild(elem);
					var rel = elem.rel;
					if (elem.href && typeof rel != "string" || rel.length == 0 || rel.toLowerCase() == "stylesheet") {
						var url = elem.href.replace(/(&|\?)_cacheOverride=\d+/, '');
						elem.href = url + (url.indexOf('?') >= 0 ? '&' : '?') + '_cacheOverride=' + (new Date().valueOf());
					}
					parent.appendChild(elem);
				}
			}
			var protocol = window.location.protocol === 'http:' ? 'ws://' : 'wss://';
			var address = protocol + window.location.host + window.location.pathname + '/ws';
			var socket = new WebSocket(address);
			socket.onmessage = function (msg) {
				if (msg.data == 'reload') window.location.reload();
				else if (msg.data == 'refreshcss') refreshCSS();
			};
			if (sessionStorage && !sessionStorage.getItem('IsThisFirstTime_Log_From_LiveServer')) {
				console.log('Live reload enabled.');
				sessionStorage.setItem('IsThisFirstTime_Log_From_LiveServer', true);
			}
		})();
	}
	else {
		console.error('Upgrade your browser. This Browser is NOT supported WebSocket for Live-Reloading.');
	}
	// ]]>
</script>
</body>

</html>